body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.crearPostContainer {
    max-width: 600px; 
    margin: 3rem auto; 
    padding: 3rem;
    background-color: white;
    border-radius: 12px;
    box-sizing: border-box; 
    box-shadow: 0 0.5rem 1.5rem #0000001f;
}

.crearPostContainer h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}


.formGroup {
    margin-bottom: 25px;
}

.formLabel {
    display: block;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.formCheck {
    position: relative;
    padding: 10px 15px; 
    border-radius: 20px;
    background-color: white; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.formCheck input[type="checkbox"] {
    position: absolute;
    opacity: 0; 
    cursor: inherit; 
}

.formCheck:has(input[type="checkbox"]:checked) {
    background-color:#86a8c3; 
    color: black; 
}

.formCheck:hover {
    background-color: #bad0e6; 
}

.buttonCrear {
    width: 100%;
    margin-top: 20px; 
}


@media (max-width: 768px) {
    .crearPostContainer {
        margin: 24px 15px; 
        padding: 15px;
    }

    .crearPostContainer h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .crearPostContainer {
        margin: 15px 10px; 
        padding: 10px;
    }

    .crearPostContainer h2 {
        font-size: 1.4rem;
    }
}