.publicacion-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.publicacion-card:hover {
  transform: translateY(-5px);
}

.publicacion-card .card-body {
  padding: 1rem;
}

.publicacion-card .card-title {
  font-size: 1.2rem;
  color: #4a6fa5;
  font-weight: 600;
  text-align: left;
}

.publicacion-card .carousel-img {
  object-fit: cover;
  width: 100%;
  height: 280px;
  border-radius: 0;
}

.publicacion-card .btn-dark {
  background-color: #4a6fa5;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.publicacion-card .btn-dark:hover {
  background-color: #36557d;
}



@media (max-width: 768px) {
  .publicacion-card .carousel-img {
    height: 200px;
  }
}